<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Maid2Work
      </h1>
      <h2 class="subtitle">
        Find a cleaner or become one!
      </h2>
    </div>
  </div>
</section>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Looking for a cleaner</h1>
      <h2 class="subtitle">
        Need someone to  <strong>clean</strong> your home or office, you've come to the perfect place. Go ahead and browse to find the most suitable cleaner to you.
      </h2>
    </div>
  </section>
</body>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Want to become a cleaner</h1>
      <h2 class="subtitle">
        If you want to become a <strong>cleaner</strong> all you have to do is sign up and then post a service. Customers looking for a cleaner will be able to click on your post and purchase your services.
      </h2>
    </div>
  </section>
</body>